<div class="about-us-container section-container section-container-gray-bg">
    <div class="container-fluid">
        <div class="row ">
            <div class="big-image" #bigImage style="background-image: url(assets/game_background.jpg);">
                <div class="overlay" >
                    <div class="col-8 justify-content-center" id="text-overlay" #textOverlay>
                        <h1>The saveDforest Game Project</h1>
                        <hr>
                        <p>The saveDforest game is a cross-disciplinary inter-university project involving a Masters'
                            thesis in
                            Informatics Engineering.
                        </p>
                        <p>Its main goal is to change players' everyday behavior so
                            they contribute to saving forests and mitigate the effects of already damaged ones.

                        </p>
                        <p>To achieve this goal, the game promotes empathy towards animals and people who are directly
                            affected by deforestation.
                        </p>
                        <p> The current version of the game focuses on the Borneo forest's inhabitants,
                            and also raises awareness for the global effects of the
                            forest's destruction.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-7 about-us-box wow fadeInLeft">
                <div class="credits-container about-us-box-text">
                    <h1>How the Game Works </h1>
                    <hr>
                    <p class="medium-paragraph">
                        The game consists of multiple scenarios with dialogues, questions and challenges. The
                        player chooses what to answer, what to learn, and what to do.

                    </p>
                    <p class="second-paragraph">
                        Scenarios are built with a threefold purpose:
                    </p>
                    <p class="second-paragraph">1. Provide information on climate change and the perils of world
                        forests;
                    </p>
                    <p class="second-paragraph">2. Trigger empathy for the forest animals and people who depend on the forest;
                    </p>
                    <p class="second-paragraph">3. Spur the interest in knowing more about the forest, the climate
                        crisis, and pro-environmental behavior.
                    </p>
                   
                </div>
            </div>
            <div id="img-container-orang" class="col-12 col-lg-5 about-us-box wow fadeInUp" style="text-align: right;">
                <div class="about-us-box-img">
                    <img src="assets/dimitry-b-tRGqh8cHanA-unsplash.jpg" alt="about" width="80%" height="60%">
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row ">
            <div class="col-2"></div>
            <div class=" col-lg-8 d-flex justify-content-center about-us-box-center wow fadeInLeft">
                <div class=" credits-container about-us-box-center-text">
                    <h1 style="text-align: center;">The Team </h1>
                    <hr>
                    <p class="medium-paragraph">
                        This project was born from the collaborative work of Professor Ana Paula Cláudio (IT
                        Professor at the University of Lisbon, LASIGE research center), Professor Augusta Gaspar
                        (Psychology Professor at the Faculty of Human Sciences, Catholic University of Portugal) and
                        University of Lisbon M.Sc. Informatics Engineering student Ricardo Santos.

                    </p>
                    <p class="second-paragraph">
                        Gonçalo Sales, a M.Sc. Psychology student at the Faculty of Human Sciences, Catholic University of Portugal, joined 
                        the team later.
                    </p>
                   
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        
    </div>

     <div class="container">
        <div class="row ">
            <div class="col-1"></div>
            <div class=" col-lg-10 d-flex justify-content-center about-us-box-center-credits wow fadeInLeft">
                <div class="credits-container about-us-box-center-text">
                    <h1 style="text-align: center;">Credits</h1>
                    <hr>
                    <div class=" medium-paragraph" style="text-align: center;">
                        
                        <ul class="member-list" >
                            <li>
                                <span class="member-name">Prof. Ana Paula Cláudio</span>
                                <span class="member-role">Conceptualization, general guidance and consulting</span>
                            </li>
                            <li>
                                <span class="member-name">Prof. Augusta Gaspar</span>
                                <span class="member-role">Conceptualization, scenario writing, general guidance and consulting </span>
                                
                            </li>
                            <li>
                                <span class="member-name">Gonçalo Sales</span>
                                <span class="member-role">Graphic asset development, consulting and scenario writing  </span>
                            </li>
                            <li>
                                <span class="member-name">Ricardo Santos</span>
                                <span class="member-role">Software development, conceptualization, graphic asset development, music and sfx development  </span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <h6 style="text-align: center; color: rgb(172, 172, 172);">*Additional sprites, photos and sfx assets from <a href="https://admurin.itch.io/nature-trees" target="_blank" rel="noopener noreferrer">itch.io</a>,
                        <a href="https://unsplash.com/" target="_blank" rel="noopener noreferrer">Unsplash</a>,
                        <a href="https://pixabay.com/sound-effects/amazon-jungle-morning-24939/" target="_blank" rel="noopener noreferrer"> Pixabay</a> and <a href="https://freesound.org/" target="_blank" rel="noopener noreferrer">Freesound</a>. 
                        <p>Scenarios implemented with <a href="https://yarnspinner.dev" target="_blank" rel="noopener noreferrer"> Yarn Spinner</a>,
                            licensed under <a href="assets/Yarn_LICENSE.md" target="_blank" rel="noopener noreferrer">MIT License</a>.</p></h6>      
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</div>